@use "../../global.scss" as *;

.home {
  color: $light-color;
  min-height: 100vh;
}

.main {
  @extend %flex-column;
  align-items: center;
  margin: 20px 40px 10px;

  &__title {
    width: 100%;
    @extend %flex-center-y;
    justify-content: space-between;
    margin-bottom: 40px;

    &__text {
      font-size: 3.5rem;
      font-weight: 500;
    }

    &__icon {
      font-size: 3.5rem;
      transition: 0.3s;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      &:hover {
        color: $contrast-color;
        transition: 0.3s;
      }
    }
  }

  &__body {
    &__consumption {
      width: 100%;
      margin-bottom: 20px;
      
      &__title {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 10px;
      }

      &__cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 300px));
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-content: center;
      }
    }
  }


}