@use "../../global.scss" as *;

.home {
  background-color: $dark-color;
  color: $light-color;
  min-height: 100vh;
}

.main {
  @extend %flex-column;
  align-items: center;
  margin: 10px 40px;

  &__search {
    display: flex;
    width: 100%;
    background-color: $secondary-color;
    border-radius: 25px;
    padding: 15px;

    @extend %box_shadow;

    &__search_bar {
      @extend %flex-center-y;

      &__img {
        font-size: 2rem;
        margin-right: 10px;
      }
  
      &__input {
        width: 100%; 
        background-color: transparent;
        outline: none;
        border: none;
        color: $light-color;
        font-size: 1.4rem;

        &::placeholder {
          color: $gray-scale;
        }
      }
    }
  }
}